@{
  Layout = "_Layout";
}
<body>
    <div class="container">
        <div class="col-md-12">
            <h1>Enter a Songs Name to Add to your Library:</h1>
            <form action='/mymusic' method='post'>
              <div class='form-group'>
                <label for='artist'>Enter Artists Name</label>
                <input id='artist' name='artist' class='form-control' type='text'>
              </div>
              <div class='form-group'>
                <label for='title'>Enter Titles Name:</label>
                <input id='title' name='title' class='form-control' type='text'>
              </div>
              <h5>Select a Genre</h5>
              <select class="form-control" name="genre">
                <option value="Rock">Rock</option>
                <option value="German Techno">German Techno</option>
                <option value="K-POP">K-POP</option>
                <option value="Hip-Hop">Hip-Hop</option>
                <option value="Folk Music">Folk Music</option>
              </select>
              <button type="submit" class="btn btn-dark btn-lg">Save this Song</button>
            </form>
            <form action="/mymusic">
              <input type="submit" value="All Music" />
            </form>
            <form action="/mymusic/delete">
              <input type="submit" value="Delete All Music" />
            </form>
        </div>
    </div>
</body>
