@{
  Layout = "_Layout";
}
<body>
    <div = "container">
        <div ="col-md-12">
        <h1> All Albums: </h1>
        @foreach(var item in Model)
        {
            <h4>Artist:<a href='/mymusic/@item.GetId()'> @item.getArtist()</a></h4>
            <p>Title: @item.getTitle()</p>
            <p>Genre: @item.getGenre()</p>
        }
        <button type="button" class="btn btn-dark btn-lg"><a href='/'>Create a new CD</a></button>
        <button type="button" class="btn btn-dark btn-lg"><a href='/mymusic/delete'>Delete All Music</a></button>
        </div>
    </div>
</body>
